@model Alpha.Models.reserva

@{
    ViewBag.Title = "Create";
}

<h1>RESERVA</h1>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Preencha os campos abaixo para fazer a reserva</h4>
    <hr />

    <h3>Dados Pessoais</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.hospede, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.hospede, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hospede, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sexo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.sexo)
                @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.status_relacionamento1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.status_relacionamento1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.status_relacionamento1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.data_nascimento1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.data_nascimento1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.data_nascimento1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cpf1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cpf1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cpf1, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <h3>Dados da Reserva</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.tipo_reserva, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tipo_reserva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipo_reserva, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.data_reserva, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.data_reserva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.data_reserva, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.data_saida, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.data_saida, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.data_saida, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.horario_entrada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.horario_entrada, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.horario_entrada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.horario_saida, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.horario_saida, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.horario_saida, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <h3>Dados da Acomodação</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.quarto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quarto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quarto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.num_quarto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.num_quarto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.num_quarto, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <h3>Contato</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.telefone1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefone1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefone1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
